<h2>Poem Results</h2>

<section class="search-results">
  <% @results.each do |poem| %>
  <section class="poem-<%= poem.title %>">
    Title: <%= poem.title %>, by: <%= poem.author %><br>
    Poem: <%= poem.string %><br>
    <br>
  </section>
  <% end %>
</section>
